<!doctype HTML>
<html>
  <head><title> Magic Cat</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
      </head>
    <body>

      <img src="<%= @url_hash[:cat]%>" id="cat">
      <img src="<%= @url_hash[:background]%>" id="bg">
      <img src="<%= @url_hash[:accessory]%>" id="accessory">
      <img src="<%= @url_hash[:border]%>" id="border">

    </body>
</html>