<!doctype HTML>
<html>
  <head><title> Magic Cat</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <body>
    <h1 id = "header1"> Design your own cat greeting card!</h1>
      <img src = <%= @image_url %>
<div id = "scrollbox1" style="border:1px solid black;width:500px;height:250px;overflow-y:hidden;overflow-x:scroll;">
<p style="width:250%;">
<a href="https://gabrielquotes.files.wordpress.com/2013/06/summer-beach1.jpg" target="main"> <img id = "summer" src = "https://gabrielquotes.files.wordpress.com/2013/06/summer-beach1.jpg" height = 200em width = 300em></a>
<a href = "http://i.imgur.com/viKWXrh.gif" target= "main"> <img id = "winter" src = "http://i.imgur.com/viKWXrh.gif" height = 200em width = 300em></a>
<img id = "spring" src = "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTzJoHWXBK_EMoAdA1e6VAH5JLfB5koVnwy7l-IjjGKX-FDSZTDgw" height = 200em width = 300em>
<img id = "fall" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhf_aAXz3k2JojAFc4V7klCFqgm_8IWt4SRW4jA5Fs6gaPGxyrA" height = 200em width = 300em>
</p>
</div>
      <div id = "scrollbox2" style="border:1px solid black;width:500px;height:250px;overflow-y:hidden;overflow-x:scroll;">
<p style="width:250%;">
<img id = "cat1" src = "http://www.sterlingshelter.org/wp-content/uploads/cute-cat-picture-no-background.gif" height = 200em width = 300em>
<img id = "cat2" src = "http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=18101126" height = 200em width = 300em>
<img id = "cat3" src = "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTzJoHWXBK_EMoAdA1e6VAH5JLfB5koVnwy7l-IjjGKX-FDSZTDgw" height = 200em width = 300em>
<img id = "cat4" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhf_aAXz3k2JojAFc4V7klCFqgm_8IWt4SRW4jA5Fs6gaPGxyrA" height = 200em width = 300em>
</p>
</div>     
      <div id = "scrollbox3" style="border:1px solid black;width:500px;height:250px;overflow-y:hidden;overflow-x:scroll;">
<p style="width:250%;">
<img id = "summer" src = "https://gabrielquotes.files.wordpress.com/2013/06/summer-beach1.jpg" height = 200em width = 300em>
<img id = "winter" src = "http://i.imgur.com/viKWXrh.gif" height = 200em width = 300em>
<img id = "spring" src = "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTzJoHWXBK_EMoAdA1e6VAH5JLfB5koVnwy7l-IjjGKX-FDSZTDgw" height = 200em width = 300em>
<img id = "fall" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhf_aAXz3k2JojAFc4V7klCFqgm_8IWt4SRW4jA5Fs6gaPGxyrA" height = 200em width = 300em>
</p>
</div>     
      <div id = "scrollbox4" style="border:1px solid black;width:500px;height:250px;overflow-y:hidden;overflow-x:scroll;">
<p style="width:250%;">
<img id = "summer" src = "https://gabrielquotes.files.wordpress.com/2013/06/summer-beach1.jpg" height = 200em width = 300em>
<img id = "winter" src = "http://i.imgur.com/viKWXrh.gif" height = 200em width = 300em>
<img id = "spring" src = "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTzJoHWXBK_EMoAdA1e6VAH5JLfB5koVnwy7l-IjjGKX-FDSZTDgw" height = 200em width = 300em>
<img id = "fall" src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLhf_aAXz3k2JojAFc4V7klCFqgm_8IWt4SRW4jA5Fs6gaPGxyrA" height = 200em width = 300em>
</p>
</div>     
    </body>
  </head>
</html>