<!doctype HTML>
<html>
  <head><title> Magic Cat</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <body>
    <h1 id = "header1"> Design your own cat greeting card!</h1>
      <img id = "cat1" src = "http://www.sterlingshelter.org/wp-content/uploads/cute-cat-picture-no-background.gif" alt = "Cat1" height="500" width="500">
      <div style="border:1px solid black;width:150px;height:100px;overflow-y:hidden;overflow-x:scroll;">
<p style="width:250%;">
By using overflow-x, we can create scroll bars when the contents of this div are wider than the container. By setting this paragraph to 250 percent, it is 250 percent wider than the parent container - forcing an overflow. 
</p>
</div>      
    </body>
  </head>
</html>